/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}

.navbar h1 {
  margin: 0;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.navbar nav a:hover {
  text-decoration: underline;
}

.main-container {
  padding: 20px;
}

.filter-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#search-bar {
  padding: 10px;
  width: 90%;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#category-dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.books-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  width: 390px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-card h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.book-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.book-card .category {
  font-weight: bold;
  color: #777;
}

.book-card button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book-card .details-btn {
  background-color: #000000;
  color: #fff;
  margin-right: 10px;
}

.book-card .borrow-btn {
  background-color: #f0f0f0;
  color: #333;
}

.book-card .button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
