body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}

.navbar h1 {
  margin: 0;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.navbar nav a:hover {
  text-decoration: underline;
}

.userDetail-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.page-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-table {
  width: 100%;
  margin: 0 auto 20px auto;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.user-table th {
  background-color: #f4f4f4;
}

.back-button {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #333;
}
